*.iml
target/*
.idea/*
/.idea/
/allure-results/
allure-results/*
/target/
/.settings/
/.classpath
/.project
.DS_Store
*/target/**
*/.idea/**
*/allure-results/**
*/.settings/**
*/.classpath/**
*/.project/**
/src/main/resources/environments/*
/src/test/resources/pdf/*